{% extends 'base.html' %}
{% block content %}
<div >
	<form action="/deleteallvideo/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="submit" name="Deleteall" value="Create New">
	</form>
	<hr>
	{% for i in todo %}
	    <ul>
	      	<li>
	      		{{i.videos}}
	      		<form action="/deletevideo/{{i.id}}/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="submit" name="Delete" value="Delete">
				 </form>

	      	</li>
	      	<br>
	    </ul>        
	{% endfor %} 
</div>
	  <form action="/addvideo/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="content">
		<input type="submit" name="submit" value="submit">
	  </form>
<hr>
<form action="/submitvideo/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="text" name="videoname" placeholder="Video name">
		<input type="submit" name="submit" value="Edit">
	  </form>
{% endblock %}